.u-section-1 .u-sheet-1 {
  min-height: 142px;
}

.u-section-1 .u-group-1 {
  min-height: 143px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-family: "Gravitas One";
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 118px;
  }

  .u-section-1 .u-group-1 {
    min-height: 118px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-1 .u-group-1 {
    min-height: 139px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 194px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 10px 5px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-image-1 {
  min-height: 768px;
  margin-top: 0;
  margin-bottom: 1px;
  animation-duration: 1000ms;
  background-image: url("images/VSOP_web.png");
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    background-position: 50% 50%;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1px;
    min-height: 544px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 255px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 802px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 682px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 361px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  object-position: 50% 0%;
  margin-top: 0;
  margin-bottom: 0;
  height: 308px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 731px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-custom-html-1 {
  min-height: 505px;
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 298px;
    background-position: 50% 0%;
  }

  .u-section-3 .u-image-1 {
    height: 247px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 603px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-3 .u-image-1 {
    height: 181px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 1231px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2158px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1124px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 314px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 584px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1496px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 885px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 138px;
  }

  .u-section-3 .u-image-1 {
    height: 193px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 449px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 177px;
}

.u-section-4 .u-group-1 {
  min-height: 177px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 20px 572px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 372px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-4 .u-group-1 {
    min-height: 167px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 152px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-4 .u-group-1 {
    min-height: 193px;
    margin-bottom: 1px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 78px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 257px;
}

.u-section-5 .u-group-1 {
  min-height: 217px;
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 25px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 20px 302px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}